.fav-container{
  background-color: #4f4f4f;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
  box-sizing: border-box;
}

.fav-container h1{
  font-size: 30px;
}

.fav-cards{
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-actions{
  display: flex;
  padding: 20px 0;
  gap: 50px;
  text-transform: uppercase;
}

.fav-cards img{
  min-width: 350px;
  max-width: 40%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.fav-actions a{
  color: #fff;
  text-decoration: none;
  background: #db0000;
  padding: 8px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
}

.fav-actions button{
  color: #fff;
  text-decoration: none;
  background: #db0000;
  padding: 8px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
}

.fav-title{
  font-size: 20px;
}